<!doctype html>
<html lang="ru-RU" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iTech - Лицензия на успех</title>
    <meta name="keywords" content="аутсорсинг, аутсорсинг в душанбе, аутсорсинг в таджикистане, аутсорсинг ит в душанбе, аутсорсинг ит, аутсорсинг ит в таджикистане, абонентское обслуживание компьютеров, обслуживание серверов, обслуживание сетей, it аутсорсинг, it outsourcing, outsourcing" />
    <meta name="description" content="ИТ аутсорсинг и абонентское обслуживание компьютеров, серверов и компьютерных сетей в городе Душанбе. Профессиональный ИТ-сервис." />
    <!--  -->
    <link rel="shortcut icon" href="static/favv.ico" type="image/x-icon">
    <link rel="icon" href="static/favv.ico" type="image/x-icon">
    <link rel="stylesheet" href="static/css/foundation.css">
    <link rel="stylesheet" href="static/css/app.css">
    <link rel="stylesheet" href="static/css/foundation-icons.css">
  </head>

<div data-sticky-container>
<div class="top-bar my-nav" data-sticky data-options="marginTop:0;" data-top-anchor="1" style="width:100%">
<div class="wrap">
  <div class="top-bar-title">
    <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
      <button class="menu-icon light" type="button" data-toggle></button>
    </span>
  </div>
  <div id="responsive-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu menu-desktop2" data-dropdown-menu>
      <li><a href="/"><img src="static/images/logo1.png"></a></li>
    </ul>
  </div>
    <div class="top-bar-right" data-magellan data-options="barOffset:45;" activeClass="active">
      <ul class="menu menu-desktop">
        <li><a href="#first">О нас</a></li>
        <li><a href="#uslugi">Услуги</a></li>
        <li><a href="#calculator">Калькулятор</a></li>
        <li><a href="#second">Вендоры</a></li>
        <li><a href="#third">Сертификаты</a></li>
        <li><a href="#fourth">Контакты</a></li>
      </ul>
    </div>
  </div>
  </div>
</div>
</div>

{% block body %} {% endblock %}

    <!-- FOOTER -->

    <footer class="new-footer">
      <div class="wrap">
              <div class="row">
                <div class="small-12 medium-6 medium-push-6 columns">
                  <p class="logo show-for-small-only"><i class="fi-wrench"></i> iTech inc.</p>
                  <div class="row">
                      <div class="medium-9 medium-push-3 columns">
                      <ul class="inline-list social">
                    <a href="#"><i class="fi-social-facebook"></i></a>
                    <a href="#"><i class="fi-social-twitter"></i></a>
                    <a href="#"><i class="fi-social-linkedin"></i></a>
                    <a href="#"><i class="fi-social-github"></i></a>
                  </ul>
                  <p class="copywrite">© 2017 iTech.tj</p>
                      </div></div>
                </div>
                <div class="small-12 medium-6 medium-pull-6 columns">
                  <p class="logo hide-for-small-only"><i class="fi-wrench"></i> iTech inc.</p>
                  <p class="logo-phone hide-for-small-only"><i class="fi-telephone"></i> 915 61 5555</p>
                  <!-- <p class="footer-links" data-magellan data-options="barOffset:45;">
                    <a href="#up">Вверх</a>
                  </p> -->
                </div>
              </div>
      </div>
    </footer>

    <script src="static/js/calc.js"></script>
    <script src="static/js/vendor/jquery.js"></script>
    <script src="static/js/vendor/what-input.js"></script>
    <script src="static/js/vendor/foundation.js"></script>
    <script src="static/js/app.js"></script>

  </body>
</html>
